@import url('../../variables/Variables.module.scss');

.searchImage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 500px;
  padding: 80px 0;
  background: url('../../assets/images/backround.jpg');
  box-sizing: border-box;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  background: var(--color-black);
}

.container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  width: 630px;
  z-index: 10;
}

.title {
  font-family: 'PlusJakartaSans-SemiBold';
  text-align: start;
  color: var(--color-white);
  font-size: 33px;
  line-height: 40px;
  letter-spacing: -0.02em;
  margin-bottom: 30px;
}

.examples {
  margin-top: 30px;

  p {
    display: flex;
    gap: 3px;
    font-family: 'PlusJakartaSans-SemiBold';
    font-size: 16px;
    text-align: start;
    color: var(--color-white);

    span {
      color: hsla(0, 0%, 100%, 0.7);
    }

    a {
      color: var(--color-white);
    }
  }
}

.author {
  position: absolute;
  font-family: 'PlusJakartaSans-SemiBold';
  font-size: 14px;
  color: var(--color-white);
  right: 15px;
  bottom: 15px;
  z-index: 100;

  span {
    color: hsla(0, 0%, 100%, 0.7);
  }
}
