@import url('../../variables/Variables.module.scss');

.image {
  display: flex;
  width: 31.6%;
  position: relative;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.blackout {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  box-shadow: inset 0 0 100px #000;
  transition: 0.5s;
}

.menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.upperContainer {
  display: flex;
  justify-content: flex-end;
}

.lowerContainer {
  display: flex;
  justify-content: space-between;
}

.creator {
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    pointer-events: none;
  }

  p {
    color: var(--color-white);
    font-size: 16px;
    font-family: 'PlusJakartaSans-SemiBold';
  }
}

@media (max-width: 768px) {
  .image {
    width: 48.5%;
  }
}

@media (max-width: 425px) {
  .image {
    width: 100%;
  }
}
