:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #2c343e;
  --color-light-gray: #7f7f8f;
  --color-green: #07a081;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../assets/fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../assets/fonts/Montserrat-Regular.ttf');
}
